:root {
  --google-font-fam: 'Noto Sans JP', 'sans-serif';
  --logo-blue: #066AE1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue-logo-color {
  color: var(--logo-blue);
}

.blue-background {
  background-color: var(--logo-blue);
}

.google-font-100 {
  font-family: var(--google-font-fam);
  font-weight: 100;
}

.google-font-200 {
  font-family: var(--google-font-fam);
  font-weight: 200;
}

.google-font-300 {
  font-family: var(--google-font-fam);
  font-weight: 300;
}

.google-font-400 {
  font-family: var(--google-font-fam);
  font-weight: 400;
}

.google-font-500 {
  font-family: var(--google-font-fam);
  font-weight: 500;
}

.google-font-600 {
  font-family: var(--google-font-fam);
  font-weight: 600;
}

.google-font-700 {
  font-family: var(--google-font-fam);
  font-weight: 700;
}

.google-font-800 {
  font-family: var(--google-font-fam);
  font-weight: 800;
}